<html>
<head>
    <title>Home </title>
    <meta name="section" content="about"/>
</head>
<body>
<div id="about-page">

    <ul id="list-people">
        <li>
            <img width="100px" height="100px" src="http://iconarchive.com/download/i59028/hopstarter/superhero-avatar/Avengers-Thor.ico"/>
            <span>Yves Aucheres<br>Ingénieur système</span>
        </li>
        <li><img width="100px" height="100px" src="http://icons.iconarchive.com/icons/hopstarter/superhero-avatar/256/Avengers-Black-Widow-icon.png"/>
            <span>Samuel Valla<br>Conducteur de MiniBus</span>
        </li>
        <li><img width="100px" height="100px" src="http://icons.iconarchive.com/icons/hopstarter/superhero-avatar/256/Avengers-Hulk-icon.png"/>
            <span>Emmanuel Jeker<br>Software developer and Database Admininstrator</span>
        </li>
        <li><img width="100px" height="100px" src="http://icons.iconarchive.com/icons/hopstarter/superhero-avatar/256/Avengers-Hawkeye-icon.png"/>
            <span>Petit Palawan<br>Mobile developer</span>
        </li>
        <li>
            <img width="100px" height="100px" src="http://icons.iconarchive.com/icons/hopstarter/superhero-avatar/256/Avengers-Giant-Man-icon.png"/>
            <span>Jack Daniels<br>Mobile developer</span>
        </li>
        <li>
            <img width="100px" height="100px" src="http://icons.iconarchive.com/icons/hopstarter/superhero-avatar/256/Avengers-War-Machine-icon.png"/>
            <span>Sébastien Lauper<br>Web developer</span>
        </li>
    </ul>
    <div class="clearing"></div>
</div>
</body>
</html>