<html>
<head>
    <title>Home </title>
    <meta name="section" content="about"/>
</head>
<body>
<div id="about-page">

    <ul id="list-people">
        <li><img width="150px" height="150px" src="http://iconarchive.com/download/i59028/hopstarter/superhero-avatar/Avengers-Thor.ico">Yves Aucheres, Ingénieur système</li>
        <li><img width="150px" height="150px" src="http://icons.iconarchive.com/icons/hopstarter/superhero-avatar/256/Avengers-Black-Widow-icon.png">Samuel Valla, Conducteur de MiniBus</li>
        <li><img width="150px" height="150px" src="http://icons.iconarchive.com/icons/hopstarter/superhero-avatar/256/Avengers-Hulk-icon.png">Emmanuel Jeker, Software developer and Database Admininstrator</li>
        <li><img width="150px" height="150px" src="http://icons.iconarchive.com/icons/hopstarter/superhero-avatar/256/Avengers-Hawkeye-icon.png">Petit Palawan, Mobile developer</li>
        <li><img width="150px" height="150px" src="http://icons.iconarchive.com/icons/hopstarter/superhero-avatar/256/Avengers-Giant-Man-icon.png">Jack Daniels, Mobile developer</li>
        <li><img width="150px" height="150px" src="http://icons.iconarchive.com/icons/hopstarter/superhero-avatar/256/Avengers-War-Machine-icon.png">Sébastien Lauper, Web developer</li>
    </ul>
</div>
</body>
</html>